<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="OracleConn"
             connectionString="User Id=a_prueba;Password=lticPUCE24;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.1.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=PRUEBA)));"/>
	</connectionStrings>
</configuration>


